# Folders to ignore, whatever the place they are
.DS_Store
.metadata
.idea
SIGNATURE.SMF
classes
testclasses
eclipsebin
gensrc
hybris/bin/*
!hybris/bin/custom/
hybris/bin/custom/yb2bacceleratorstorefront
hybris/bin/modules
hybris/config
hybris/data
hybris/log
hybris/roles
hybris/temp
installer
hybris-sbg
idea-module-files
build-tools
licenses
